.part2 {
    top: 0;
    left: 0;
    position: relative;
    background-color: rgb(192, 212, 250);
    min-height: 100vh;
    box-sizing: border-box;
    padding: 30px;
    padding-left: 10%;
}
.qus{
    height: 35px;
    width: 70%;
    font-size: 19px;
    border-radius: 10px;
}
.option1234{
    height: 30px;
    width: 30%;
    font-size: 18px;  
    border-radius: 30px;
    margin-top: 30px;
    
}
a{
    margin-left: 65px;
}
.sub_btn{
    height: 40px;
    margin-left: 40%;
    margin-top: 50px;
    background-color: rgb(247, 174, 174);
    border-radius: 10px;
    font-size: 15px;
}