* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg,#2b2929, #868585);
}
.container{
    position: relative;
    width: 850px;
    height: 550px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    overflow: hidden;
}
.login-img{
  width: 100%;
  height: 120%;
  border-radius: 30px;
}
.login{
    position: absolute;
    top: 0;
    right:0;
    width: 48%;
    height: 100%;
    background: linear-gradient(90deg, #6fa9eb,#296ff0);
    border-radius: 30px;
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;  
}
.login2{
    margin-top: -30px;
}
.root-btn{
    margin-left: 80%;
    width: 20%;
    height: 45px;
    background: #7494ec;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(2, 2, 2, 0.452);
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #424242;
    font-weight: 600;
}
form{
    width: 100%;
}
.input-box{
    position: relative;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    padding: 13px 50px 13px 20px;
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}
.input-box input::placeholder{
color: #888;
font-weight: 400;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 22px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}
.singin{
    margin: -15px 0 15px
}
.singin a {
    font-size: 19.5px;
    color: #333;
    text-decoration: none;
}
button.btn{
    width: 100%;
    height: 48px;
    background: #7494ec;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}
.container p{
    font-size: 16.5px;
    margin: 15px 0;
}
.social-icons{
    display: flex;
    justify-content: center;
}
.social-icons a{
    display: inline-flex;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
    margin: 0 8px;
}
.login-singin{
    position: absolute;
    top: 0;
    right:0;
    width: 48%;
    height: 100%;
    background: linear-gradient(90deg, #6fa9eb,#296ff0);
    border-radius: 30px;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 40px;
    z-index: 1;
    /* transition:.6s ease-in-out 1.2s, visibility 0s 1s; */
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;  
}
.singin{
    /* position: relative; */
    padding-top: 15px;
}
.singin button{
    width: 20%;
    height: 45px;
    background: #7494ec;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(3, 3, 3, 0.5);
    border: none;
    cursor: pointer;
    font-size: 17px;
    color: #161616;
    font-weight: 600;   
}
@media screen and (max-width:991px) {
    .container {
        position: relative;
        width: 100%;
        height: 510px;
        background: #fff;
        border-radius: 30px;
        box-shadow: 0 0 30px rgba(0, 0, 0, .2);
        overflow: hidden;
    }
    .login-img {
        width: 80%;
        height: 120%;
        border-radius: 30px;
    }
    .login-singin {
        position: absolute;
        top: 0;
        right: 0;
        width: 58%;
        height: 100%;
        background: linear-gradient(90deg, #6fa9eb, #296ff0);
        border-radius: 30px;
        align-items: center;
        color: #333;
        text-align: center;
        padding: 40px;
        z-index: 1;
        /* transition:.6s ease-in-out 1.2s, visibility 0s 1s; */
        border-bottom-right-radius: 40%;
        border-top-left-radius: 40%;
    }
    .root-btn {
        margin-left: 75%;
        width: 35%;
        height: 40px;
        background: #7494ec;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(2, 2, 2, 0.452);
        border: none;
        cursor: pointer;
        font-size: 13px;
        color: #424242;
        font-weight: 600;
    }
    .input-box {
        position: relative;
        margin: 20px 0;
    }

    .singin {
        /* position: relative; */
        padding-top: 30px;
    }

    .singin button {
        width: 30%;
        height: 40px;
        background: #7494ec;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(3, 3, 3, 0.5);
        border: none;
        cursor: pointer;
        font-size: 17px;
        color: #161616;
        font-weight: 600;
    }
}
@media screen and (max-width:767px) {
    .login-singin {
        position: absolute;
        top: 0;
        right: 0;
        width: 58%;
        height: 100%;
        background: linear-gradient(90deg, #6fa9eb, #296ff0);
        border-radius: 30px;
        align-items: center;
        color: #333;
        text-align: center;
        padding: 40px;
        z-index: 1;
        /* transition:.6s ease-in-out 1.2s, visibility 0s 1s; */
        border-bottom-right-radius: 40%;
        border-top-left-radius: 40%;
    }
}
@media screen and (max-width:520px) {
    .container {
        position: 0;
        width: 100%;
        height: 650px;
        background: #fff;
        border-radius: 30px;
        box-shadow: 0 0 30px rgba(0, 0, 0, .2);
        overflow: hidden;
    }
    .login-singin {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #6fa9eb, #296ff0);
        border-radius: 30px;
        align-items: center;
        color: #333;
        text-align: center;
        padding: 40px;
        z-index: 1;
    }
    .login-img {
        width: 0;
        height: 0;
    }
    .root-btn{
        margin-left: 90%;
        width: 20%;
        height: 45px;
        background: #7494ec;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(2, 2, 2, 0.452);
        border: none;
        cursor: pointer;
        font-size: 15px;
        color: #424242;
        font-weight: 600;
    }
    .login-form{
        margin-top: 20px;
    }
    .login-form h1{
        font-size: 45px;
    }
    .singin {
        /* position: relative; */
        padding-top: 50px;
    }

    .singin button {
        width: 30%;
        height: 50px;
        background: #7494ec;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(3, 3, 3, 0.5);
        border: none;
        cursor: pointer;
        font-size: 17px;
        color: #161616;
        font-weight: 600;
    }
    .input-box{
        position: relative;
        margin: 35px 0;
    }
    .root-btn {
        margin-left: 65%;
        width: 35%;
        height: 50px;
        background: #7494ec;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(2, 2, 2, 0.452);
        border: none;
        cursor: pointer;
        font-size: 16px;
        color: #424242;
        font-weight: 600;
    }
}