<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Questions - Type 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='exam-types.css') }}">
</head>

<body>
    <div action="/exam-type2.html" method="POST" class="container">
        <div class="part1">
            <label for="option">Select Type:</label>
            <select name="option" id="option" class="select" onchange="handleRedirect(this.value)">
                <option value="0">option 2</option>
                <option value="exam-type1.html">Option 1</option>
                <option value="home">None</option>
                <option value="exam-type3.html">Option 3</option>
                <option value="exam-type4.html">Option 4</option>
                <option value="exam-type5.html">Option 5</option>
            </select>
        </div>

        <script>
            function handleRedirect(value) {
                if (value !== "0") {
                    window.location.href = value;
                }
            }
        </script>

        <div class="part2">
            <h2>Exam Questions (Type 2)</h2>
            <form method="POST" action="/type2-exam-qus">
                {% if questions %}
                {% for q in questions %}
                <h3>Question {{ loop.index }}</h3>
    
                <input type="hidden" name="sr_{{ loop.index0 }}" value="{{ q[0] }}">
    
                Question:<input type="text" disabled name="question_{{ loop.index0 }}" class="qus" placeholder="Question..."value="{{ q[1] }}"><br>
    
               <div class="options">A:<input type="text" disabled name="option_a_{{ loop.index0 }}" class="option1 option1234" placeholder="option A..." value="{{ q[2] }}">
    
                B:<input type="text" disabled name="option_b_{{ loop.index0 }}" class="option2 option1234" placeholder="option B..." value="{{ q[3] }}"><br>
    
                C:<input type="text" disabled name="option_c_{{ loop.index0 }}" class="option3 option1234" placeholder="option C..." value="{{ q[4] }}">
    
                D:<input type="text" disabled name="option_d_{{ loop.index0 }}" class="option4 option1234" placeholder="option D..." value="{{ q[5] }}"><br>
    
                Correct Option (A/B/C/D):<input type="text" name="correct_option_{{ loop.index0 }}" class="correct_option option1234" placeholder="Correct option..." value="{{ q[6] }}"><br><br> </div>
                {% endfor %}
                <button type="submit" class="sub_btn">Exam Submit</button>
                {% else %}
                <p>No questions found.</p>
                {% endif %}
            </form>
        </div>
    </div>
</body>

</html>