<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>root_Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='root-home.css') }}">
</head>

<body>
    <div action="/root-home.html" method="POST" class="container">
        <div class="part1">
            <label for="option">Select Type:</label>
            <select name="option" id="option" class="select" onchange="handleRedirect(this.value)">
                <option value="0">None</option>
                <!-- <option value="root-home.html">None</option> -->
                <option value="type1.html">Option 1</option>
                <option value="type2.html">Option 2</option>
                <option value="type3.html">Option 3</option>
                <option value="type4.html">Option 4</option>
                <option value="type5.html">Option 5</option>
            </select>
        </div>

        <script>
            function handleRedirect(value) {
                if (value !== "0") {
                    window.location.href = value;
                }
            }
        </script>
        <div class="part2">
            <h2>Select Questions Type</h2>
            <!-- <img src="{{ url_for('static', filename='img/root-home.jpg') }}" alt="" class="root-home-img"> -->
        </div>
    </div>
</body>

</html>