<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>root_Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='root-home.css') }}">
</head>

<body>
    <div action="/type5.html" method="POST" class="container">
        <div class="part1">
            <label for="option">Select Option:</label>
            <select name="option" id="option" class="select" onchange="handleRedirect(this.value)">
                <option value="0">Option 5</option>
                <option value="root-home.html">None</option>
                <option value="type1.html">Option 1</option>
                <option value="type2.html">Option 2</option>
                <option value="type3.html">Option 3</option>
                <option value="type4.html">Option 4</option>
                <!-- <option value="type5.html">Option 5</option> -->
            </select>
        </div>

        <script>
            function handleRedirect(value) {
                if (value !== "0") {
                    window.location.href = value;
                }
            }
        </script>
        <div class="part2">
            <h2>Enter 15 Questions</h2>
            <form method="POST" action="/type5">
                {% for i in range(10) %}
                <h4>Question {{ i+1 }}</h4>
                Question: <input type="Question" id="{{ i }}" name="question_{{ i }}" class="qus" placeholder=" Question..."><br>
               <a>A: <input type="option1" name="option_a_{{ i }}" class="option1 option1234" placeholder=" option1..."></a>
               <a>B: <input type="option2" name="option_b_{{ i }}" class="option2 option1234" placeholder=" option2..."></a><br>
               <a>c: <input type="option3" name="option_c_{{ i }}" class="option3 option1234" placeholder=" option3..."></a>
               <a>d: <input type="option4" name="option_d_{{ i }}" class="option4 option1234" placeholder=" option4..."></a><br>
                Correct Option (A/B/C/D): <input type="Correct_Option" name="correct_option_{{ i }}" class="correct_option option1234" placeholder="select correct option..."><br><br>
                {% endfor %}
                <button type="submit" class="sub_btn">Save Questions</button>
            </form>
        </div>
    </div>
</body>

</html>