<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit-qus-type3</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='edit-types.css') }}">
</head>

<body>
    <div class="part2">
        <h2>Edit Questions (Type 3)</h2>
        <form method="POST" action="/type3-update">
            {% if questions %}
            {% for q in questions %}
            <h4>Question {{ q[0] }}</h4>
            Question: <input type="Question" id="{{ i }}" name="question_{{ i }}" class="qus" placeholder=" Question..."
                value="{{ q[1] }}"><br>
            <a>A: <input type="option1" name="option_a_{{ i }}" class="option1 option1234" placeholder=" option1..."
                    value="{{ q[2] }}"></a>
            <a>B: <input type="option2" name="option_b_{{ i }}" class="option2 option1234" placeholder=" option2..."
                    value="{{ q[3] }}"></a><br>
            <a>c: <input type="option3" name="option_c_{{ i }}" class="option3 option1234" placeholder=" option3..."
                    value="{{ q[4] }}"></a>
            <a>d: <input type="option4" name="option_d_{{ i }}" class="option4 option1234" placeholder=" option4..."
                    value="{{ q[5] }}"></a><br>
            Correct Option (A/B/C/D): <input type="Correct_Option" name="correct_option_{{ i }}"
                class="correct_option option1234" placeholder="select correct option..." value="{{ q[6] }}"><br><br>
            {% endfor %}
            {% else %}
            <p>No questions found.</p>
            {% endif %}
        </form>
        <button type="submit" class="sub_btn">Update Questions</button>
    </div>
</body>

</html>